{:paths ["src" "examples"]
 :deps {io.github.com-junkawasaki/langchain-clj
        {:git/url "https://github.com/com-junkawasaki/langchain-clj"
         :git/sha "ae475c9ba57b065657b3e5f2bae4583b6fb6b80b"} ; v0.1.0
        io.github.com-junkawasaki/langgraph-clj
        {:git/url "https://github.com/com-junkawasaki/langgraph-clj"
         :git/sha "133740f3df2f4aa57e9e98b32f70e2483c025a7e"}}} ; v0.2.0
